@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    color: #F3F3F4;
    background-color: #242423;
}

body {
    background-color: #242423;
    font-family: 'Quicksand', sans-serif;
}

form {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 2px solid #242423;
    background-color: #F3F3F4;
}

#home select {
    font-family: monospace;
}

#title {
    text-align: center;
    animation: fadeInAnimation;
    font-size: 56px;
}

#submit {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #242423;
    background-color: #E3C567;
    transition: all 0.75s;
}

#submit:hover {
    letter-spacing: 5px;
}

#description {
    font-size: 16px;
    text-align: center;
}

#pokemon_image {
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
    max-width: 100%;
}