<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bulbabadeia</title>
    <link rel="icon" href='static/img/normal_pokeball.svg'>
    <link rel="stylesheet" href="static/style/style.css">
</head>

<body id="home">
    <h1 id="title" style="font-size: 48px;">Welcome to Bulba(bad)eia!</h1>
    <p style="text-align: center; font-size: 8px;">Haha get it because it's Bulbapedia but bad. Haha... ah nevermind</p>

    <div id="description" style="width: 600px; margin: 0 auto;">
        <h3>A responsive clone of Bulbapedia that dynamically asks for input in the selection fields and fetches
            the pokemon's info from the PokeAPI and presents it in a clean and understandable way. Please select a
            generationa and a pokemon from that generation. An image of the pokemon will appear underneath the submit
            button.</h3>
    </div>

    <!--Select fields for generation and pokemon-->
    <form method="POST">
        <p>Generation:
            <select id="generation" name="generation" method="GET" action="/">
                {% for generation in generations %}
                <option value="{{ generation }}" SELECTED>{{ generation }}</option>
                {% endfor %}
            </select>
        </p>

        <p>Pokemon:
            <select id="pokemon" name="pokemon" method="POST" action="/">
                {% for pokemon in pokemons %}
                <option value="{{ pokemon }}" SELECTED>{{ pokemon }}</option>
                {% endfor %}
            </select>
        </p>

        <input id="submit" type="submit" name="submit" value="Submit" />
    </form>

    <img id="pokemon_image" src="static/img/pokeball_but_with_blue.svg" alt="image of pokemon in select field">

    <footer style="">
        <h2>Author: <a href="mailto:ssikder20@stuy.edu" style="text-decoration: none;">Shuprovo Sikder</a></h2>
        <p>Resources Used:</p>
        <ul>
            <li>Images scrapped from Bulbapedia</li>
            <li>Pokemon Data from PokeAPI</li>
            <li>Pokeball Icons by <a href="https://www.flaticon.com/free-icon/pokeball_1181497">Darius Dan</a></li>
        </ul>
    </footer>
</body>

<script type="text/javascript">
    // pokemon select field becomes dynamic
    let generation_select = document.getElementById('generation')
    let pokemon_select = document.getElementById('pokemon')

    generation_select.onchange = function () { // detect change in the generation select field
        generation = generation_select.value;

        fetch('/pokemon/' + generation).then(function (response) { // fetch flask route
            response.json().then(function (data) {
                let optionHTML = ''; // initialize the HTML that will replace the content in pokemon select field
                for (let pokermons of data.pokemon) {
                    optionHTML += '<option value=' + pokermons.nat_dex + '>' + pokermons.name + '</option>' // append HTML for all the pokemon in that generation
                }

                pokemon_select.innerHTML = optionHTML; // replace contents of pokemon select field with optionHTML
            })
        });
    }

    // dynamically updates the image underneath select field
    let pokemon_image = document.getElementById('pokemon_image')

    pokemon_select.onchange = function () {
        pokemon = pokemon_select.value;

        fetch('images/' + pokemon).then(function (response) {
            response.json().then(function (data) {
                pokemon_image.src = data.image;
            })
        });
    }
</script>

</html>