<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Bad Bulbapedia Clone</title>
</head>

<body>
    <form>
        <p>Generation:
            <select id="generation" name="generation" method="GET" action="/">
                {% for generation in generations %}
                <option value="{{ generation }}" SELECTED>{{ generation }}</option>
                {% endfor %}
            </select>
        </p>

        <p>Pokemon:
            <select id="pokemon" name="pokemon" method="POST" action="/">
                {% for pokemon in pokemons %}
                <option value="{{ pokemon }}" SELECTED>{{ pokemon }}</option>
                {% endfor %}
            </select>
        </p>

        <input type="submit" value="submit" />
    </form>
</body>

<script>
    let generation_select = document.getElementById('generation')
    let pokemon_select = document.getElementById('pokemon')

    generation_select.onchange = function () {
        generation = generation_select.value;

        fetch('/pokemon/' + generation).then(function (response) {
            response.json().then(function (data) {
                let optionHTML = '';
                for (let pokermons of data.pokemon) {
                    optionHTML += '<option value=' + pokermons.nat_dex + '>' + pokermons.name + '</option>'
                }

                pokemon_select.innerHTML = optionHTML;
            })
        });
    }
</script>

</html>