<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bulbabadeia</title>
    <link rel="icon" href='static/img/normal_pokeball.svg'>
    <!--The directory is named test1 and script 1 because static files aren't
        meant to be changed so if you keep it in the same directory,
        it reverts to a previous version of the file-->
    <link rel="stylesheet" href="static/test2/styles.css">
    <script src="static/script1/scripts.js"></script>
</head>

<body id="home">
    <div class="animate fadeInUp">
        <h1 id="title">Welcome to Bulba(bad)eia!</h1>
    </div>
    <p style="text-align: center; font-size: 8px;">Haha get it because it's Bulbapedia but bad. Haha... ah nevermind</p>

    <div id="description">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem ligula, porta nec tempor a, tempus eget
            dolor. Vivamus mi ex, faucibus sed mollis sed, dignissim at massa. Sed ac rutrum dui. Mauris tempor dictum
            velit vitae ornare. Phasellus sit amet aliquet ex. Donec semper ex at metus mattis maximus. Ut eget dui
            ullamcorper, vulputate sem id, blandit metus. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Mauris varius est et est laoreet, eget suscipit metus venenatis. Nullam
            rhoncus metus id magna fringilla, in ullamcorper nulla finibus. Duis in odio tempor, suscipit velit et,
            elementum nisl. Vestibulum quis egestas elit. Duis ut nulla at leo rutrum cursus. Suspendisse nec orci
            tincidunt, ultricies diam sed, vehicula neque.</h3>
    </div>

    <!--Select fields for generation and pokemon-->
    <form method="POST">
        <p>Generation:
            <select id="generation" name="generation" method="GET" action="/">
                {% for generation in generations %}
                <option value="{{ generation }}" SELECTED>{{ generation }}</option>
                {% endfor %}
            </select>
        </p>

        <p>Pokemon:
            <select id="pokemon" name="pokemon" method="POST" action="/">
                {% for pokemon in pokemons %}
                <option value="{{ pokemon }}" SELECTED>{{ pokemon }}</option>
                {% endfor %}
            </select>
        </p>

        <input id="submit" type="submit" value="Submit" />
    </form>

    <img id="pokemon_image" src="static/img/pokeball_but_with_blue.svg" alt="image of pokemon in select field">
</body>

<script type="text/javascript">
    update_pokemon(); // pokemon select field becomes dynamic
    update_pokemon_image(); // dynamically updates the image underneath select field
</script>

</html>