<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teambuilder</title>
</head>

<style>
    * {
        color: #242423;
    }

    body {
        background-color: #242423;
        font-family: 'Quicksand', sans-serif;
    }

    header {
        display: flex;
        justify-content: center;
    }

    #title {
        text-decoration: none;
        transition: all 1s;
        font-size: 48px;
        color: #F3F3F4;
    }

    #title:hover {
        color: #D5A021;
        letter-spacing: 5px;
    }
</style>

<body>
    <header>
        <h1><a href="https://bulbabadeia.herokuapp.com/" id="title">Bulbabadeia</a></h1>
    </header>
</body>

</html>